---
---

@import "{{ site.theme }}";

@font-face {
    font-family: Publik;
    font-style: normal;
    font-weight: 300;
    src: url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Light_5.woff2")
            format("woff2"),
        url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Light_5.woff")
            format("woff");
}

@font-face {
    font-family: Publik;
    font-style: normal;
    font-weight: 700;
    src: url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Bold_5.woff2")
            format("woff2"),
        url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Bold_7.woff")
            format("woff");
}

@font-face {
    font-family: Publik;
    font-style: normal;
    font-weight: 400;
    src: url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Regular_3.woff2")
            format("woff2"),
        url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Regular_5.woff")
            format("woff");
}

@font-face {
    font-family: Publik;
    font-style: normal;
    font-weight: 900;
    src: url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Black_3.woff2")
            format("woff2"),
        url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Black_5.woff")
            format("woff");
}

@font-face {
    font-family: Publik;
    font-style: italic;
    font-weight: 400;
    src: url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Italic_3.woff2")
            format("woff2"),
        url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Italic_5.woff")
            format("woff");
}


// Font families
$font-family-publik: Publik, Helvetica, Arial, "Nimbus Sans L",
    "Bitstream Vera Sans", sans-serif;

// Font sizes
$font-size-base: 16;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

body {
  font: 100% $font-family-publik;
}

small {
    $font-size-base: 11;
}