<header class="header">
  <nav class="navbar">
    <div class="logo">
      <a href="{{ relLangURL "" }}" class="logo-link">
        <img src="{{ relURL "/open/img/svt-logo.svg" }}" alt="SVT" class="logo-img">
      </a>
    </div>
    <div class="navbar-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <div class="navbar-item">
          <a href="{{ .URL | relURL }}" class="navbar-item-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">{{ .Name }}</a>
        </div>
      {{ end }}
    </div>
  </nav>
</header>
