<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ if not .IsHome }}{{ .Site.Params.organisation }}{{ with .Title }} {{ . }}{{ end }}{{ else }}{{ .Title }}{{ end }}</title>
  <meta
    name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} "
  />

  <link rel="icon" href="{{ relURL "favicon.ico" }}" sizes="any">
  <link rel="icon" href="{{ absURL "icon.svg" }}" type="image/svg+xml">

  <!-- TODO link rel="canonical" href="{{ .RelPermalink }}" /-->
  {{ template "_internal/opengraph.html" . }}
  <meta property="og:site_name" content="{{ .Site.Params.organisation }}" />


  {{ template "_internal/twitter_cards.html" . }}

  <!-- Light -->
  <link rel="preload" as="font" crossorigin="crossorigin" href="https://www.svtstatic.se/frontend/svtlib-font/svtlib-font-2.0.0/fonts/PublikWeb-Light.woff2">

  <!-- Regular -->
  <link rel="preload" as="font" crossorigin="crossorigin" href="https://www.svtstatic.se/frontend/svtlib-font/svtlib-font-2.0.0/fonts/PublikWeb-Regular.woff2">

  <!-- Italic -->
  <link rel="preload" as="font" crossorigin="crossorigin" href="https://www.svtstatic.se/frontend/svtlib-font/svtlib-font-2.0.0/fonts/PublikWeb-Italic.woff2">

  <!-- Bold -->
  <link rel="preload" as="font" crossorigin="crossorigin" href="https://www.svtstatic.se/frontend/svtlib-font/svtlib-font-2.0.0/fonts/PublikWeb-Bold.woff2">

  <link rel="stylesheet" href="{{ absURL "/open/css/bootstrap-reboot.min.css" }}">
  <link rel="stylesheet" href="{{ relURL "/open/css/style.css" }}" />
</head>
